.potition-child-1 {
    top: 130px;
    left: 500px;
}

.potition-arrow-1 {
    top: 450px;
    left: 820px;
}

.potition-year-1 {
    top: 580px;
    left: 745px;
}

.potition-node-1 {
    left: 800px;
}

.potition-child-2 {
    top: 600px;
    left: 1055px;
}

.potition-arrow-2 {
    top: 520px;
    left: 1220px;
}

.potition-year-2 {
    top: 420px;
    left: 1145px;
}

.potition-node-2 {
    left: 1200px;
}

.potition-child-3 {
    top: 100px;
    left: 1445px;
}

.potition-arrow-3 {
    top: 450px;
    left: 1620px;
}

.potition-year-3 {
    top: 580px;
    left: 1545px;
}

.potition-node-3 {
    left: 1600px;
}

.potition-child-4 {
    top: 600px;
    left: 1845px;
}

.potition-arrow-4 {
    top: 520px;
    left: 2020px;
}

.potition-year-4 {
    top: 420px;
    left: 1945px;
}

.potition-node-4 {
    left: 2000px;
}

.potition-child-5 {
    top: 100px;
    left: 2245px;
}

.potition-arrow-5 {
    top: 450px;
    left: 2420px;
}

.potition-year-5 {
    top: 580px;
    left: 2345px;
}

.potition-node-5 {
    left: 2400px;
}

.potition-child-6 {
    top: 600px;
    left: 2545px;
}

.potition-arrow-6 {
    top: 520px;
    left: 2820px;
}

.potition-year-6 {
    top: 420px;
    left: 2745px;
}

.potition-node-6 {
    left: 2800px;
}

.potition-child-7 {
    top: 100px;
    left: 3045px;
}

.potition-arrow-7 {
    top: 450px;
    left: 3220px;
}

.potition-year-7 {
    top: 580px;
    left: 3145px;
}

.potition-node-7 {
    left: 3200px;
}

.potition-child-8 {
    top: 600px;
    left: 3445px;
}

.potition-arrow-8 {
    top: 520px;
    left: 3620px;
}

.potition-year-8 {
    top: 420px;
    left: 3545px;
}

.potition-node-8 {
    left: 3600px;
}

.potition-child-9 {
    top: 100px;
    left: 3845px;
}

.potition-arrow-9 {
    top: 450px;
    left: 4020px;
}

.potition-year-9 {
    top: 580px;
    left: 3945px;
}

.potition-node-9 {
    left: 4000px;
}

.potition-child-10 {
    top: 600px;
    left: 4245px;
}

.potition-arrow-10 {
    top: 520px;
    left: 4420px;
}

.potition-year-10 {
    top: 420px;
    left: 4334px;
}

.potition-node-10 {
    left: 4400px;
}

.potition-child-11 {
    top: 100px;
    left: 4645px;
}

.potition-arrow-11 {
    top: 450px;
    left: 4820px;
}

.potition-year-11 {
    top: 580px;
    left: 4745px;
}

.potition-node-11 {
    left: 4800px;
}

.potition-child-12 {
    top: 600px;
    left: 5045px;
}

.potition-arrow-12 {
    top: 520px;
    left: 5220px;
}

.potition-year-12 {
    top: 420px;
    left: 5145px;
}

.potition-node-12 {
    left: 5200px;
}

.potition-child-13 {
    top: 100px;
    left: 5445px;
}

.potition-arrow-13 {
    top: 450px;
    left: 5620px;
}

.potition-year-13 {
    top: 580px;
    left: 5545px;
}

.potition-node-13 {
    left: 5600px;
}

.potition-child-14 {
    top: 600px;
    left: 5745px;
}

.potition-arrow-14 {
    top: 520px;
    left: 6020px;
}

.potition-year-14 {
    top: 420px;
    left: 5945px;
}

.potition-node-14 {
    left: 6000px;
}

.potition-child-15 {
    top: 100px;
    left: 6245px;
}

.potition-arrow-15 {
    top: 450px;
    left: 6420px;
}

.potition-year-15 {
    top: 580px;
    left: 6345px;
}

.potition-node-15 {
    left: 6400px;
}

.potition-child-16 {
    top: 600px;
    left: 6645px;
}

.potition-arrow-16 {
    top: 520px;
    left: 6820px;
}

.potition-year-16 {
    top: 420px;
    left: 6745px;
}

.potition-node-16 {
    left: 6800px;
}

.potition-child-17 {
    top: 100px;
    left: 7045px;
}

.potition-arrow-17 {
    top: 450px;
    left: 7220px;
}

.potition-year-17 {
    top: 580px;
    left: 7145px;
}

.potition-node-17 {
    left: 7200px;
}

.potition-child-18 {
    top: 600px;
    left: 7445px;
}

.potition-arrow-18 {
    top: 520px;
    left: 7620px;
}

.potition-year-18 {
    top: 420px;
    left: 7545px;
}

.potition-node-18 {
    left: 7600px;
}

.potition-child-19 {
    top: 100px;
    left: 7845px;
}

.potition-arrow-19 {
    top: 450px;
    left: 8020px;
}

.potition-year-19 {
    top: 580px;
    left: 7945px;
}

.potition-node-19 {
    left: 8000px;
}

.potition-child-20 {
    top: 600px;
    left: 8245px;
}

.potition-arrow-20 {
    top: 520px;
    left: 8420px;
}

.potition-year-20 {
    top: 420px;
    left: 8345px;
}

.potition-node-20 {
    left: 8400px;
}

.potition-child-21 {
    top: 100px;
    left: 8645px;
}

.potition-arrow-21 {
    top: 450px;
    left: 8820px;
}

.potition-year-21 {
    top: 580px;
    left: 8745px;
}

.potition-node-21 {
    left: 8800px;
}

.potition-child-22 {
    top: 600px;
    left: 9045px;
}

.potition-arrow-22 {
    top: 520px;
    left: 9220px;
}

.potition-year-22 {
    top: 420px;
    left: 9145px;
}

.potition-node-22 {
    left: 9200px;
}

.potition-child-23 {
    top: 100px;
    left: 9445px;
}

.potition-arrow-23 {
    top: 450px;
    left: 9620px;
}

.potition-year-23 {
    top: 580px;
    left: 9545px;
}

.potition-node-23 {
    left: 9600px;
}

.potition-child-24 {
    top: 600px;
    left: 9845px;
}

.potition-arrow-24 {
    top: 520px;
    left: 10020px;
}

.potition-year-24 {
    top: 420px;
    left: 9945px;
}

.potition-node-24 {
    left: 10000px;
}

.potition-child-25 {
    top: 100px;
    left: 10245px;
}

.potition-arrow-25 {
    top: 450px;
    left: 10420px;
}

.potition-year-25 {
    top: 580px;
    left: 10345px;
}

.potition-node-25 {
    left: 10400px;
}

.potition-child-26 {
    top: 600px;
    left: 10645px;
}

.potition-arrow-26 {
    top: 520px;
    left: 10820px;
}

.potition-year-26 {
    top: 420px;
    left: 10745px;
}

.potition-node-26 {
    left: 10800px;
}

.potition-child-27 {
    top: 130px;
    left: 10950px;
}

.potition-arrow-27 {
    top: 450px;
    left: 11220px;
}

.potition-year-27 {
    top: 580px;
    left: 11145px;
}

.potition-node-27 {
    left: 11200px;
}

.potition-child-28 {
    top: 600px;
    left: 11445px;
}

.potition-arrow-28 {
    top: 520px;
    left: 11620px;
}

.potition-year-28 {
    top: 420px;
    left: 11545px;
}

.potition-node-28 {
    left: 11600px;
}

.potition-child-29 {
    top: 130px;
    left: 11845px;
}

.potition-arrow-29 {
    top: 450px;
    left: 12020px;
}

.potition-year-29 {
    top: 580px;
    left: 11945px;
}

.potition-node-29 {
    left: 12000px;
}

.potition-child-30 {
    top: 600px;
    left: 12245px;
}

.potition-arrow-30 {
    top: 520px;
    left: 12420px;
}

.potition-year-30 {
    top: 420px;
    left: 12345px;
}

.potition-node-30 {
    left: 12400px;
}

.potition-child-31 {
    top: 130px;
    left: 12645px;
}

.potition-arrow-31 {
    top: 450px;
    left: 12820px;
}

.potition-year-31 {
    top: 580px;
    left: 12745px;
}

.potition-node-31 {
    left: 12800px;
}

.potition-child-32 {
    top: 600px;
    left: 12945px;
}

.potition-arrow-32 {
    top: 520px;
    left: 13220px;
}

.potition-year-32 {
    top: 420px;
    left: 13145px;
}

.potition-node-32 {
    left: 13200px;
}

.potition-child-33 {
    top: 130px;
    left: 13445px;
}

.potition-arrow-33 {
    top: 450px;
    left: 13620px;
}

.potition-year-33 {
    top: 580px;
    left: 13545px;
}

.potition-node-33 {
    left: 13600px;
}

.potition-child-34 {
    top: 600px;
    left: 13845px;
}

.potition-arrow-34 {
    top: 520px;
    left: 14020px;
}

.potition-year-34 {
    top: 420px;
    left: 13945px;
}

.potition-node-34 {
    left: 14000px;
}

.potition-child-35 {
    top: 130px;
    left: 14245px;
}

.potition-arrow-35 {
    top: 450px;
    left: 14420px;
}

.potition-year-35 {
    top: 580px;
    left: 14345px;
}

.potition-node-35 {
    left: 14400px;
}

.potition-child-36 {
    top: 600px;
    left: 14545px;
}

.potition-arrow-36 {
    top: 520px;
    left: 14820px;
}

.potition-year-36 {
    top: 420px;
    left: 14745px;
}

.potition-node-36 {
    left: 14800px;
}

.potition-child-37 {
    top: 130px;
    left: 15045px;
}

.potition-arrow-37 {
    top: 450px;
    left: 15220px;
}

.potition-year-37 {
    top: 580px;
    left: 15145px;
}

.potition-node-37 {
    left: 15200px;
}

.potition-child-38 {
    top: 600px;
    left: 15445px;
}

.potition-arrow-38 {
    top: 520px;
    left: 15620px;
}

.potition-year-38 {
    top: 420px;
    left: 15545px;
}

.potition-node-38 {
    left: 15600px;
}

.potition-child-39 {
    top: 130px;
    left: 15845px;
}

.potition-arrow-39 {
    top: 450px;
    left: 16020px;
}

.potition-year-39 {
    top: 580px;
    left: 15945px;
}

.potition-node-39 {
    left: 16000px;
}