.potition-child-1 {
    top: 130px;
    left: 500px;
}

.potition-arrow-1 {
    top: 450px;
    left: 820px;
}

.potition-year-1 {
    top: 580px;
    left: 745px;
}

.potition-node-1 {
    left: 800px;
}

.potition-child-2 {
    top: 600px;
    left: 1055px;
}

.potition-arrow-2 {
    top: 520px;
    left: 1220px;
}

.potition-year-2 {
    top: 420px;
    left: 1145px;
}

.potition-node-2 {
    left: 1200px;
}

.potition-child-3 {
    top: 100px;
    left: 1445px;
}

.potition-arrow-3 {
    top: 450px;
    left: 1620px;
}

.potition-year-3 {
    top: 580px;
    left: 1545px;
}

.potition-node-3 {
    left: 1600px;
}

.potition-child-4 {
    top: 600px;
    left: 1845px;
}

.potition-arrow-4 {
    top: 520px;
    left: 2020px;
}

.potition-year-4 {
    top: 420px;
    left: 1945px;
}

.potition-node-4 {
    left: 2000px;
}

.potition-child-5 {
    top: 100px;
    left: 2245px;
}

.potition-arrow-5 {
    top: 450px;
    left: 2420px;
}

.potition-year-5 {
    top: 580px;
    left: 2345px;
}

.potition-node-5 {
    left: 2400px;
}

.potition-child-6 {
    top: 600px;
    left: 2545px;
}

.potition-arrow-6 {
    top: 520px;
    left: 2820px;
}

.potition-year-6 {
    top: 420px;
    left: 2745px;
}

.potition-node-6 {
    left: 2800px;
}